<div class="row">
  <div class="col-md-4 col-sm-6 js-current-date-region">
  </div>
  <div class="col-md col-sm-6 js-forecast-period-region">
  </div>
  <div class="col-md col-sm js-growth-region">
  </div>
  <div class="col-md col-sm js-multiplier-region">
  </div>
  <div class="col-md">
  </div>
</div>