<label>Current Date</label>
<div class="row">
  <input type="text" class="col-6 form-control" disabled value="{{current_date}}" />
  <input type="text" class="col-6 form-control" disabled value="Monthly" />
</div>

